/* 全体背景 */
.attendance-container {
    background-color: #f3f3f3;
    margin: 50px auto;
}

/* 中央カード */
.attendance-card {
    width: 90%;
    max-width: 900px;
    margin: 60px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    padding: 0;
}

.attendance-inner {
    padding: 50px 60px;
}

/* タイトル */
.page-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.bar {
    font-weight: 900;
    font-size: 26px;
    margin-right: 12px;
}

/* テーブル */
.attendance-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    box-sizing: border-box;
}

.attendance-table th {
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
}

.attendance-table td {
    text-align: center;
    padding: 20px 0;
    font-weight: 500;
}

/* ヘッダー下線 */
.attendance-table thead tr {
    border-bottom: 2px solid #000;
}

/* 行の下線 */
.attendance-table tbody tr {
    border-bottom: 1px solid #ddd;
}

/* 詳細リンク */
.detail-link {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #000;
    border-radius: 4px;
}

.attendance-title {
    font-size: 24px;
    font-weight: bold;
    padding-left: 16px;
    border-left: 4px solid black;
}


.month-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.month-navigation a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.current-month {
    font-size: 20px;
    font-weight: bold;
}

.month-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #eee;
    padding: 60px 80px;
}


.month-box {
    background: #f3f3f3;
    padding: 8px 20px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.arrow {
    text-decoration: none;
    font-size: 22px;
    color: #333;
    transition: 0.2s;
}

.arrow:hover {
    opacity: 0.5;
}

.month-label {
    font-size: 22px;
    font-weight: bold;
}

.month-nav-wrapper {
    width: 95%;
    max-width: 900px;
    background: #fff;
    border-radius: 8px;
    padding: 12px 30px;
    margin: 60px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
}

.table-card td a {
    display: inline-block;
    padding: 6px 14px;
    border: 1px solid #000;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
}

