/* 全体背景 */
.list-container {
    max-width: 1000px;
    margin: 0 auto;
    background: white;
    padding: 40px;
    border-radius: 10px;
}

/* 中央カード */
.list-card {
    width: 90%;
    max-width: 1000px;
    margin: 60px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    padding: 40;
}

.attendance-inner {
    width: 100%;
}

/* タイトル */
.list-title {
    font-size: 24px;
    font-weight: bold;
    border-left: 4px solid black;
    padding-left: 12px;
    margin-bottom: 30px;
}

.bar {
    font-weight: 900;
    font-size: 26px;
    margin-right: 12px;
}

/* テーブル */
.list-table {
    width: 100%;
    border-collapse: collapse;
}

.list-table th {
    padding: 16px;
    border-bottom: 2px solid black;
}

.list-table td {
    padding: 16px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.list-table thead tr {
    border-bottom: 2px solid black;
}

.list-table tbody tr {
    border-bottom: 1px solid #ddd;
}

/* 詳細リンク */
.detail-link {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #000;
    border-radius: 4px;
}

.list-title span {
    border-left: 4px solid black;
    padding-left: 10px;
}

.month-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.month-navigation a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.current-month {
    font-size: 20px;
    font-weight: bold;
}

.month-box {
    background: #f3f3f3;
    padding: 8px 20px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.arrow {
    text-decoration: none;
    font-size: 22px;
    color: #333;
    transition: 0.2s;
}

.arrow:hover {
    opacity: 0.5;
}

.month-label {
    font-size: 22px;
    font-weight: bold;
}

.month-nav-wrapper {
    width: 95%;
    max-width: 900px;
    background: #fff;
    border-radius: 8px;
    padding: 12px 30px;
    margin: 60px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
}

.table-card td a {
    display: inline-block;
    padding: 6px 14px;
    border: 1px solid #000;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
}

